@{
    ViewBag.Title = "Index";
}

<h2>Busqueda</h2>

@using (Html.BeginForm("Results", "Search", FormMethod.Get))
{
    <p>
        Title: @Html.TextBox("SearchString") 
        <input type="submit" value="Filtrar" />
    </p>
}
 


